</br>
</br>

<table class="table table-condensed">
      <thead>
        <tr>
          <th>User Names</th>
          <th>Citys</th>
          <th>Emails</th>
          <th>Mobile Numbers</th>
          <th>Tenth_Percentage</th>
        </tr>
      </thead>
      <tbody>
      	<%@user.each do |f|%>
          <tr>
            <td><%=f.username%></td>
            <td><%=f.city%></td>
            <td><%=f.email%></td>
            <td><%=f.tenth_percentage%></td>
           
          </tr>
        <% end %>
      </tbody>
    </table>



    